*{
  margin: 0;
  padding: 0;
  font-family: cursive;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8d262;
}

main{
  height: 500px;
  padding: 20px;
  background-color: #292624;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 8px;
}

h3{
  text-align: center;
  color: #fff;
}

#input-text{
  height: 30px;
  padding-left: 12px;
  text-transform: capitalize;
  border: none;
  border-radius: 8px;
}

#input-text:focus{
  color: #313131;
  border: none;
  outline: none;
  background-color: #fff;
}

button#add-btn{
  background-color: #d8d262;
  color: #292624;
  font-weight: 600;
}

button{
  padding: 4px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover{
  box-shadow: 0px 0px 4px #ffffffac;
  transform: scale(1.02);
}

ul{
  list-style-type: none;
  overflow-y: scroll;
  scrollbar-width: none;
}

ul li {
  margin-top: 8px;
  padding: 4px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
}

img.icon{
  width: 28px;
  height: 28px;
}

button.completed-list,
button.remove-list,
button.undo-complete-list {
  padding: 0;
  background: none;
}

button.completed-list:hover,
button.remove-list:hover,
button.undo-complete-list:hover {
  box-shadow: none;
}